*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
## De volgende lijn zo eigenlijk uncommented moeten zijn. Secrets mogen niet op git.
# secret.properties
out/