*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.nar
*.ear
*.cer
hs_err_pid*
### De volgende lijn zou eigenlijk uncommented moeten zijn. Secrets mogen niet op git.
# secret.properties
out/production
out/jar
out/artifacts
FuglenRekenTrainerSesssies.txt